<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CR&#220;VZLA</title>
  <link rel="shortcut icon" type="img/png" href="../img/Morado1.png">
   <link href="navbar-top-fixed.css" rel="stylesheet">
  
   <link href="../css/bootstrap.css" rel="stylesheet">
   
   <link href="../css/bootstrap-social.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark   fixed-top"> <!--color BC86CA-->
  <a class="navbar-brand" href="../index.html">
     <img src="../img/(name2).png" width="50" height="30" alt="" loading="lazy">
  </a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../templates/conocenos.html">Conócenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/noticias.html">Noticias</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../templates/lugares.html">Lugares</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../templates/productos.html">Productos</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactanos.html">Contáctanos</a>
      </li>

    </ul>

    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" href="#">Sign up</button>
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" href="#">Log in</button>
    </form>
  </div>
</nav>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="jumbotron-item active">
      <img src="../img/IMG_7679.jpg"  alt="...">
    <div class=" col-md-6 px-0 jumbotron-caption">
      <h1 class="display-4">Conócenos </h1>
    
   
    </div>
  </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-8">
       <h2>¿Quiénes Somos?</h2>
    
    <p> Crüvzla es una empresa B que nace en Caracas, se trata de un grupo de jóvenes
        profesionales que se conocen en diferentes actividades sociales a lo largo de los
        barrios caraqueños, todos tienen en común la pasión por el arte como instrumento
        de fortalecimiento de tejido ciudadano, iniciando en el mundo de las bellas artes a
        nuestros participantes de una forma orgánica, enseñándoles que está bien ser
        creativo, que hay opciones mejores que la hostilidad, las drogas o la violencia que
        también pueden generarles sustentabilidad y rentabilidad.
    <p/>

     <p>   Resumen de la Propuesta: nuestro programa tiene como finalidad dar instrucción
        artística a habitantes de zonas vulnerables de nuestra ciudad capital con la
        proyección de extendernos a las principales ciudades de Venezuela. Para nadie es un
        secreto la difícil coyuntura social que vive el país, el mundo artístico está repleto de
        sensibilidad social, conociendo el éxito que han tenido programas sociales en
        muchos otros ámbitos del aspecto cultural, hay suficientes ejemplos en todo el
        mundo donde hay experiencias exitosas, como parte integral del movimiento cultural
        venezolano nos percibimos como una especie de tsunami social en gestación, con
        estas jornadas sembramos semillas que en cualquier momento brotaran en todas
        partes.
      <p/>
    </div>
    <div class="col-4">
     <img src="../img/Morado1.png" style="width:120%">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-4" align="center">
     <img src="../img/Azul.png" style="width:100%">
    </div>

    <div class="col-8">
       <h2>¿Hacia donde vamos?</h2>

      <p>Nuestra misión: Deseamos una sociedad creativa y
        económicamente independiente, combatir la inseguridad social creando jornadas de
        formación cultural en zonas de alto riesgo social para educar a niños y adolescentes
        según sus habilidades natas para desarrollar actividades que les permitan alejarse de
        la delincuencia y generar recursos para mantenerse. Para ello tenemos nuestros
        pilares:
        <p/>

        <p> • Financiero, Entrenamos a los jóvenes de nuestras zonas de alto riesgo para
        que sean capaces de desarrollar sus destrezas artísticas para obtener el pago
        por el desarrollo de sus productos y así se alejen de la delincuencia, las
        drogas y violencia.
        <p/>

        <p> • Ecológico, Reciclamos materiales en desuso como pendones, textiles
        obsoletos etc. los cuales convertimos en insumos para producir objetos
        utilitarios amigables con el ambiente.
        <p/>

        <p>
        • Ciudadano, Creamos redes de aliados fortaleciendo el tejido social lo que nos
        fortalece como personas empoderas responsables por nosotros mismos y
        por nuestras comunidades, juntos y unidos somos mas fuertes.
        <p/>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
    <h2>¿Dónde estamos?</h2>

        <p>Visión: Creando alianzas que nos permita convertir en una
        empresa con filosofía B cuya función principal es desarrollar el arte en personas de
        escasos recursos en zonas de alto riesgo social, nuestra idea es desarrollar las
        siguientes acciones:
        <p/>

        <p>• Fuente primaria de ingresos es producir productos utilitarios, amigables con
        el ambiente para ser ofrecidos en el mercado el atractivo de estas piezas es
        que serán intervenidas por artistas nacionales plásticos emergentes.
        <p/>

        <p>• Aliados comerciales objetivos: Cadenas de supermercados y farmacias
        nacionales y regionales.
        <p/>

        <p>• Patrocinantes objetivo: Empresas con programas de responsabilidad social
        que nos suministren nuestros insumos a cambio en principio de nuestras
        piezas y en una segunda fase, desarrollaremos nuestras jornadas orientadas en
        las comunidades cercanas a sus instalaciones y eventualmente a sus
        empleados de mas bajo nivel.
        <p/>
      <p/>
    </div>
    <div class="col-4 ">
     <img src="../img/Amarillo.png" style="width:100%">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-4" align="center">
     <img src="../img/Morado.png" style="width:100%">
    </div>

    <div class="col-8">
      <h2>¿De dónde venimos?</h2>

        <p>Como antecedente cercano nos inspiramos en
        el <strong>Sistema Nacional de Orquestas</strong> creado por nuestro Maestro José Antonio
        Abreu, sin embargo vivimos en un mundo global y tenemos ejemplos en ciudades
        de todo el mundo como Cali, Medellín, Bogotá, Lima, (Guatemala, Nicaragua y
        San José de Costa Rica) o New York, donde en paralelo a los esfuerzos de los
        estados grupos de artistas de diversas disciplinas han logrado vencer con éxito la
        reducción de índices de violencia en lugares donde la delincuencia era la orden del
        día, por qué no en Caracas?
        <p/>


        <p>Después del éxito obtenido con programas como el <strong>Sistema de Orquestas de
        Venezuela</strong>, solo por citar un caso local, donde se demostró que el estudio de una
        disciplina musical aparta a los niños de la delincuencia, habiendo observado la
        reacción de familias enteras durante las actividades de elaboración de murales,
        pintura de canchas deportivas y escaleras en instituciones educativas, gimnasios,
        calles y muros en localidades como Petare, Los Mecedores, Cotiza, Urama y muchos
        más hemos comprobado por experiencia de primera mano el interés que despierta en
        cada individuo cuyo cerebro es abierto al discurso artístico definitivamente le abre a
        la persona un abanico de posibilidades diferente de la violencia, lo cual nos da
        impulso para atrevernos a seguir apoyando a las comunidades en situación de alto
        riesgo.
        <p/>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
     <h2>Metas y Objetivos del Programa</h2>

        <p> Esperamos durante las primeras tres semanas de
        desarrollo de nuestras actividades alcanzar un número de 50 personas por sesión,
        durante este primer encuentro cada uno de los participantes podrá recibir orientación
        y así obtendrá una exploración de sus capacidades artísticas, lo que le permitirá al
        grupo didáctico determinar hacia donde enfocar los esfuerzos en cada caso, (música,
        pintura, literatura, etc).
        <p/>

      <p>  Estamos en capacidad de implementar talleres de:<br>


      
                   <br>• Dibujo
                   <br>• Fotografía
                   <br>• Pintura
                   <br>• Muralismo
                   <br>• Música
                   <br>• Costura
                   <br>• Actuación
                   <br>• Poesía  
        <p/>
    </div>
    <div class="col-4 ">
     <img src="../img/Amarillo.png" style="width:100%">
    </div>
  </div>
</div>
 
 

</main>

<footer class="blog-footer">
  <a href="https://www.facebook.com" target="blank" class="btn btn-social-icon  btn-facebook ">
    <span class = "fa fa-facebook"> </span>
  </a>
   <a href="https://www.instagram.com/cruvzla/?hl=es-la" target="blank" class="btn btn-social-icon  btn-instagram ">
    <span class = "fa fa-instagram"> </span>
  </a> 

   <a href="https://www.youtube.com/channel/UC2vIZ8X1hM03Fd2oB78EAFQ" target="blank" class="btn btn-social-icon  btn-youtube ">
    <span class = "fa fa-youtube"> </span>
  </a>
   <a href="https://twitter.com/VzlaCru" target="blank" class="btn btn-social-icon  btn-twitter ">
    <span class = "fa fa-twitter"> </span>
  </a>

 <div class="container">
    <h6> Powered By RootTechnology &#174; <img src="../img/dibujow.png" width="50" height="30" alt="" loading="lazy"></h6> 
 </div>


</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>

<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../js/bootstrap.bundle.js"></script>
  
</body>
</html>