<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>CR&#220;VZLA</title>
	<link rel="shortcut icon" type="img/png" href="../img/Morado1.png">
	 <link href="navbar-top-fixed.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
   <link href="../css/bootstrap.css" rel="stylesheet">
   <link href="../css/carousel.css" rel="stylesheet">
   <link href="../css/styles.css" rel="stylesheet">
   <link href="../css/blog.css" rel="stylesheet">
   <link href="../css/bootstrap-social.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark   fixed-top"> <!--color BC86CA-->
  <a class="navbar-brand" href="../index.html">
     <img src="../img/(name2).png" width="50" height="30" alt="" loading="lazy">
  </a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
 
 <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/conocenos.html">Conócenos</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="../templates/noticias.html">Noticias</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../templates/lugares.html">Lugares</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="../templates/productos.html">Productos</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactanos.html">Contáctanos</a>
      </li>
    </ul>

    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" href="#">Sign up</button>
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" href="#">Log in</button>
    </form>
    


  </div>
</nav>



 
 
   

</main>

<footer class="blog-footer">
  <a href="https://www.facebook.com" target="blank" class="btn btn-social-icon  btn-facebook ">
    <span class = "fa fa-facebook"> </span>
  </a>
   <a href="https://www.instagram.com/cruvzla/?hl=es-la" target="blank" class="btn btn-social-icon  btn-instagram ">
    <span class = "fa fa-instagram"> </span>
  </a> 

   <a href="https://www.youtube.com/channel/UC2vIZ8X1hM03Fd2oB78EAFQ" target="blank" class="btn btn-social-icon  btn-youtube ">
    <span class = "fa fa-youtube"> </span>
  </a>
   <a href="https://twitter.com/VzlaCru" target="blank" class="btn btn-social-icon  btn-twitter ">
    <span class = "fa fa-twitter"> </span>
  </a>
 
    <p> Powered By RootTechnology <img src="../img/dibujow.png" width="50" height="30" alt="" loading="lazy"></p> 
</footer>

<script src="../js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>

<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../js/bootstrap.bundle.js"></script>
	
</body>
</html>